/* CONFIG GERAL */
* {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
}
body {
  overflow-x: hidden;
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  color: #30166b;
}
html {
  scroll-behavior: smooth;
} /*FIM CONFIG GERAL */

/* TIPOGRAFIA */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} /* FIM TIPOGRAFIA */

/* NAVBAR */
header {
  position: fixed;
  z-index: 100;
}

.navbarSuperior {
  background-color: #30166b;
  margin: auto;
  height: 120px;
  width: 100%;
  display: flex;
  box-shadow: 0px 0 10px 8px #000;
}

.box-img {
  width: 50%;
}

.box-img img {
  margin: auto;
  height: 95%;
  margin-left: 10%;
}

.pesquisaEicons {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
}

.icons {
  margin: auto;
  width: 30%;
  display: flex;
  gap: 40%;
}

.icons img {
  cursor: pointer;
  width: 55px;
  height: 30%;
}

.pesquisa {
  display: flex;
  margin: auto;
  background-color: #fff;

  width: 50%;
  height: 30px;
  padding: 3px;

  /* border: 3px solid greenyellow; */
  border-radius: 20px;
}

.pesquisa input {
  height: auto;
  width: 100%;
  padding-left: 10px;

  border: none;
  border-radius: 20px;
}.pesquisa input:focus {
  outline: none;
  border: none;
}

.pesquisa i {
  cursor: pointer;
  position: relative;

  top: -2px;
  width: 20px;
  padding-inline: 10px;
  
  font-size: 24px;
  font-weight: 600;
  color: #30166b;
}

.subNavbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
  background-color: #f2d561;
  text-decoration: none;
  height: 40px;
  width: 100%;
}
.subNavbar a {
  text-decoration: none;
  font-weight: 600;
  color: #30166b;
  cursor: pointer;
} /* FIM NAVBAR */

/* MAIN */
main {
  width: 100%;
  height: calc(100vh - 120px);
  padding-top: 120px;
}

#bannerApagado {
  width: 100%;
}

.titulos {
  font-family: "Lora", serif;
  margin: 5%;
  font-size: 2.3rem;
}
.titulos p {
  font-family: "Poppins", sans-serif;
}

.titulo-centralizado {
  font-family: "Lora", serif;
  margin-top: 5%;
  font-size: 500%;
  font-weight: 100;
  text-align: center;
  color: #f2d561;
}

#Sobre {
  padding: 2%;
}

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3%;
  gap: 5%;
}

.sobre img {
  height: 350px;
}

.texto1 {
  text-align: justify;
  text-indent: 2em; /* Isso cria um recuo de 2 vezes o tamanho da fonte no início do parágrafo */
}
.texto2 {
  text-align: justify;
  text-indent: 2em; /* Isso cria um recuo de 2 vezes o tamanho da fonte no início do parágrafo */
  color: white;
}

.mapinha iframe {
  margin: 1% 3% 3% 3%;
  width: 94%;
  border-radius: 10px;
}

.mapinha p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #30166b;
  margin-top: -2%;
}

#Objetivo {
  margin-top: 5%;
  padding: 2%;
  height: 600px;
  background-color: #30166b;
  box-shadow: 0px 2px 15px 5px #000;
}

.meio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.dados input {
  height: 40px;
  width: 282px;
  background-color: #30166b;
  border-radius: 10px;
  border: 2px solid #f2d561;
}
.dados input::placeholder {
  color: #f2d561;
  font-weight: 200;
  font-size: 150%;
  padding: 5%;
  font-family: "Poppins", sans-serif;
}

.mensagem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mensagem input {
  height: 380px;
  width: 77%;
  margin: 2%;
  background-color: #30166b;
  border-radius: 10px;
  border: 2px solid #f2d561;
}
.mensagem i {
  z-index: 5;
  position: absolute;
  cursor: pointer;

  font-size: 36px;
  width: 40px;
  margin-top: 300px;
  margin-left: 83.5%;
  padding: 10px;

  color: #f2d561;
  /* border: 5px solid red; */
}
.mensagem input::placeholder {
  color: #f2d561;
  font-weight: 200;
  font-size: 150%;
  padding: 3%;
  font-family: "Poppins", sans-serif;
}

.rodapeSugestoes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icone1,
.icone2 {
  display: flex;
  flex-direction: row;
}

#iconsSugestao {
  height: 50%;
}

#Grupo {
  margin-top: 5%;
  padding: 2%;
  height: 450px;
  background-color: #f2d561;
  box-shadow: 0px 2px 15px 5px #000;
}

.fotoNossas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fotinhos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fotinhos img {
  height: 150px;
  margin: 2%;
} /* FIM MAIN */


/* INICIO RODAPÉ */
#Rodape{
  background-color: #30166b;
  color: white;
  height: 180px;
  display: flex;
  flex-direction: column; 
  padding-inline: 5%;
  border: 5px solid black;  /* tem que mexer aq */
}

.conteudo-rodape{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
} .conteudo-rodape a{
  color: white;
}

.direitos{
  display: flex;
  justify-content: center;
  align-items: center;
}